<footer class="text-center text-lg-start bg-light text-muted">
  <section class="d-flex justify-content-center p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span>Mis redes sociales:</span>
    </div>

    <div>
      <a
        href="https://www.facebook.com/ernesto.jost"
        target="_blank"
        class="me-4 text-reset"
      >
        <i class="bi bi-facebook"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/ernesto-jost"
        target="_blank"
        class="me-4 text-reset"
      >
        <i class="bi bi-linkedin"></i>
      </a>
      <a
        href="https://github.com/ernestojost"
        target="_blank"
        class="me-4 text-reset"
      >
        <i class="bi bi-github"></i>
      </a>
    </div>
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Proyecto Angular
          </h6>
          <p>
            Este proyecto esta destinado a practicar mis conocimientos en
            Angular, para poder comprender mejor su funcionamiento a partir de
            una aplicación web de ejemplo.
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Otros links</h6>
          <p>
            <a href="https://reddevs.net/" class="text-reset text-decoration-none" rel="dofollow">REDDevs</a>
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Enlaces útiles</h6>
          <p>
            <a routerLink="/" class="text-reset text-decoration-none">Predecir</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
          <p>
            <i class="bi bi-house-fill me-3"></i> Av. Brasil 2835, Montevideo,
            Uruguay
          </p>
          <p>
            <a href="mailto:ernestojostlopez@gmail.com" class="d-block text-muted text-decoration-none">
              <i class="bi bi-envelope-fill me-3"></i>
              ernestojostlopez@gmail.com
            </a>
          </p>
          <p>
            <a href="tel:+59894187339" class="d-block text-muted text-decoration-none"><i class="bi bi-telephone-fill me-3"></i> +598 094187339</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2021 Copyright 
    <a class="text-reset fw-bold text-decoration-none" href="https://reddevs.net/" rel="dofollow">Ernesto Jost</a>
  </div>
</footer>
