<div id="predict-nationality-component" class="card my-5 d-none">
  <div class="card-header">Nacionalidad</div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <div *ngIf="!arrayIsEmpty(predictNationality); else elseNationalize">
        <p>
          Para el nombre <b>{{ name }}</b> las posibles nacionalidades son las siguientes:
        </p>
        <ul>
          <li *ngFor="let country of predictNationality">
            <b> {{ country.country_id }}</b
            >: {{ country.probability }}%
          </li>
        </ul>
      </div>
      
      <ng-template #elseNationalize>
        <p>
          No hay personas con el nombre <b>{{ name }}</b> en los registros de
          <b>api.nationalize.io</b>
        </p>
      </ng-template>

      <p class="blockquote-footer d-flex justify-content-end mt-2">
        <a
          href="https://nationalize.io/"
          class="text-muted text-decoration-none"
        >
          api.nationalize.io
        </a>
      </p>
    </blockquote>
  </div>
</div>
